<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chronicdisease.user.mapper.DoctorProfileMapper">

    <select id="getDoctorUserList" resultType="com.chronicdisease.user.domain.entity.User">
        SELECT u.*
        FROM user u
                 LEFT JOIN doctor_profile d ON u.id = d.doctor_id
        WHERE u.role_type = 'doctor'
          AND u.is_deleted = 0
          AND d.doctor_id IS NULL
    </select>

    <select id="selectPageWithUser" resultType="com.chronicdisease.user.domain.entity.DoctorProfile">
        SELECT dp.*, u.username AS doctorName
        FROM doctor_profile dp
                 LEFT JOIN user u ON dp.doctor_id = u.id
        WHERE 1 = 1
        <if test="doctorName != null and doctorName != ''">
            AND dp.real_name LIKE CONCAT('%', #{doctorName}, '%')
        </if>
        <if test="hospital != null and hospital != ''">
            AND dp.hospital LIKE CONCAT('%', #{hospital}, '%')
        </if>
        <if test="department != null and department != ''">
            AND dp.department LIKE CONCAT('%', #{department}, '%')
        </if>
        ORDER BY dp.create_time DESC
    </select>

</mapper>
