<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chronicdisease.user.mapper.DoctorPatientMapper">

    <select id="getMyPatients" resultType="com.chronicdisease.user.domain.vo.UserInfoVO">
        SELECT u.id, u.username, u.nickname, u.avatar, u.phone, u.role_type AS roleType
        FROM doctor_patient dp
        INNER JOIN user u ON dp.patient_id = u.id
        WHERE dp.doctor_id = #{doctorId} AND dp.is_deleted = 0 AND u.is_deleted = 0
    </select>
</mapper>